<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286877062821-agvu9isudmn5r4h1kdfg7mc5qnrn49ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286877062821-agvu9isudmn5r4h1kdfg7mc5qnrn49ah</string>
	<key>API_KEY</key>
	<string>AIzaSyDaO79z-8glcGI4ivVt5pnN242d_XLF4_U</string>
	<key>GCM_SENDER_ID</key>
	<string>286877062821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sidkulkarni.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bedb4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bedb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286877062821:ios:4d11d8f25ccc8d4d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bedb4.firebaseio.com</string>
</dict>
</plist>